.historial-actividad{
    background-color: #fff7ec;
}

@keyframes strong{
  0%{ font-size:0%}
  75%{ font-size:1.6rem}
  100%{ font-size:1.5rem}
}
strong{
    animation-name: strong;
    animation-duration: 200ms;
}

@keyframes span{
  0%{ font-size:0%}
  75%{ font-size:1.3rem}
  100%{ font-size:1.2rem}
}
span{
    animation-name: span;
    animation-duration: 200ms;
}

@keyframes h2{
  0%{ font-size:0%}
  75%{ font-size:2.1rem}
  100%{ font-size:2rem}
}
h2{
    animation-name: h2;
    animation-duration: 200ms;
}

@keyframes select-historial{
  0%{ width:0%;}
  75%{ width: 9%;}
  100%{ width:8%;}
}

select{
    border-radius: 5px;  
    transition: opacity .2s;

    animation-name: select-historial;
    animation-duration: 200ms;  
}