/* Estilo general de la navbar */
.navbar {
  display: flex;
  
  background-color: rgba(147, 37, 37, 0.242); /* "capa" oscura encima del gif */
  background-image: url("public/otoño.gif");
  background-position: 20% 30%;
  background-blend-mode: overlay;
  margin: 8px;
  border: 15px solid #e8926073;
  border-radius: 8px;
  padding: 3px 7px;
}

/* Título de la app */
.navbar-titulo {
    margin: auto;
    color: rgb(255, 255, 255);/*color titulo*/
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    object-fit: contain;
    font-size: 1.5rem;
    text-align: center;
    transition: transform 0.05s ease-in-out;
    
}

.navbar-titulo:hover {
  transform: scale(1.05);
}

/* Links de navegación */
.nav-pills .nav-link {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
}

.nav-pills .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #f0f0f0;
  border-radius: 10px;
}

.nav-pills .nav-link:focus {
  background-color: rgba(202, 121, 0, 0.656);
  color: #f0f0f0;
  border-radius: 10px;
}

/* Botón login/logout */
.btn-primary, .btn-danger {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger:hover {
  background-color: #c82333;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* NUEVO: Estilo para el botón de notificaciones */
.btn-notifications {
  border: none;
  border-radius: 8px;/*que tan redonto lo quieres que sea la esquina*/
  background-color: rgba(248, 163, 43, 0.55);/*color de fondo de botones*/;

  color: #f0f0f0;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  padding: 3px 5px; /*espacio entre cada elemento */
  transition: all 0.3s ease;
}

.btn-notifications:hover {
  background-color: rgba(255, 149, 0, 0.76);
  transform: translateY(-1px);
}