.pronostico-container {
  padding: 2rem;
  background-color: #f4f4f4; /* Fondo claro para diferenciar */
  border-radius: 8px;
  margin-top: 20px;
}

.dias-pronostico {
  display: flex;
  flex-wrap: wrap; /* Asegura que se acomode si no cabe en una sola línea */
  gap: 1rem; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas */
}

.dia-card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 225px; /* Ajusta el tamaño de cada tarjeta */
  text-align: center;
}

.dia-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.dia-card .icono-clima {
  width: 50px; /* Ajusta el tamaño del icono */
  height: 50px;
  margin-bottom: 0.5rem;
}

.dia-card p {
  margin: 0.5rem 0;
}

.dia-card strong {
  font-weight: bold;
}

