.pronostico-container {
  margin: 30px 0px;
  border-top: 1px solid rgba(69, 105, 129, 0.881);
}

.pronostico-container h2{
  margin-bottom: 30px;
}

.dias-pronostico {
  display: flex;
  flex-wrap: wrap; /* Asegura que se acomode si no cabe en una sola línea */
  gap:1.5rem;
  justify-content: center; /* Centra las tarjetas */
}

.dia-card {
  background:rgb(51 65 85 / 0.5);
  padding:1.5rem;
  border-radius:0.25rem;
  align-items: center;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
  text-align: center;
}

.dia-card:hover{
  transform: scale(1.08);
  background-color: rgba(255, 255, 255, 0.05);
}

.dia-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.dia-card .icono-clima {
  width: 50px; /* Ajusta el tamaño del icono */
  height: 50px;
  margin-bottom: 0.5rem;
}

.dia-card p {
  margin: 0.5rem 0;
}

.dia-card strong {
  font-weight: bold;
}

